@font-face {
    font-family: AlibabaPuHuiTiB;
    src: url("../assets/font/Alibaba-PuHuiTi-Bold.otf");
}
@font-face {
    font-family: AlibabaPuHuiTiH;
    src: url("../assets/font/Alibaba-PuHuiTi-Heavy.otf");
}
@font-face {
    font-family: AlibabaPuHuiTiL;
    src: url("../assets/font/Alibaba-PuHuiTi-Light.otf");
}
@font-face {
    font-family: AlibabaPuHuiTiM;
    src: url("../assets/font/Alibaba-PuHuiTi-Medium.otf");
}
@font-face {
    font-family: AlibabaPuHuiTiR;
    src: url("../assets/font/Alibaba-PuHuiTi-Regular.otf");
}
@font-face {
    font-family: YouSheBiaoTiHei;
    src: url("../assets/font/YouSheBiaoTiHei-2.ttf");
}
@font-face {
    font-family: CKTKingKong;
    src: url("../assets/font/ckjgt.otf");
}