@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import 'guide.scss';
@import './word.scss';
@import './font.scss';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-y: overlay;
}

#app {
  background: #eee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  // padding: 20px;
}

// button
.btn {
  cursor: pointer;
}

// 单行超出显示...
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 最多两行，超出显示...
.multi-ellipsis--l2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 最多三行，超出显示...
.multi-ellipsis--l3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
//todo 暂时定义全局
.dialog-bg {
  // height: 801px;
  width: 1104px;
  //padding-top: 176px;
  background-size: 100% 100%;
  background-color:rgba(0,0,255,0);
  background-image: url('../images/policy-match.png');
  .el-dialog__body {
    font-family: YouSheBiaoTiHei;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 142px;
    .calculate-warpper {
      height: 300px; overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .select-btn {
      // display: flex;
      display: grid;
      grid-template-columns: 15% 85%;
      margin-bottom: 10px;
      // margin-bottom: 20px;
      .title {
        width:  100%;
        font-size: 20px;
        font-family: AlibabaPuHuiTiR;
        color: #FFFFFF;
        padding-top: 23px;
      }
      .select-item {
        // display: contents;
        div {
          margin-right: 10px;
          margin-top: 10px;
          display: inline-block;
        }
      }
      .button-new-tag {
        background-color:rgba(0,0,255,0);
        height: 40px;
        // width: 86px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.31);
      }
      .button-new-tag-select {
        border-radius: 5px;
        background: #D99447;
        border: 1px solid rgba(0,0,0,0);
      }
    }
    .calculate {
      height: 59px;
      background: #8B572A;
      border-radius: 30px;
      font-size: 20px;
      font-family: AlibabaPuHuiTiR;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
// todo 暂时定义全局
.register-dialog {
  font-size: 14px;
  background-image: url("../images/login-bg.png");
  background-color: rgba(255,255,255, 0);
  background-size: 100% 100%;
  box-shadow: none;
  .el-dialog__header {
    visibility: hidden;
  }
  .el-dialog__body {
    padding: 10px 30px 15px 35px;
    h2 {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .el-input {
    margin-bottom: 10px;
  }

  .el-button {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-tip {
    text-align: center;
    color: #007fff;
    margin-bottom: 10px;
  }

  .code-btn {
    position: relative;
    top: 10px;
    right: 5px;
    font-size: 16px;
    font-family: AlibabaPuHuiTiR;
    color: #009AFF;
  }
}
// todo 暂时定义全局
.login-dialog {
  font-size: 14px;
  background-image: url("../images/login-bg.png");
  background-color: rgba(255,255,255, 0);
  background-size: 100% 100%;
  box-shadow: none;
  .el-dialog__header {
    visibility: hidden;
  }
  .el-dialog__body {
    padding: 10px 30px 15px 35px;
    h2 {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .tab {
    padding-right: 10px;
    font-weight: bold;
  }

  .active {
    color: #007fff;
  }

  .el-input {
    margin-bottom: 10px;
  }

  .el-button {
    width: 100%;
  }

  .code-btn {
    color: #007fff;
    position: relative;
    top: 10px;
    right: 5px;
  }

  .tip {
    margin-bottom: 20px;
    padding: 0 2px;

    .right {
      float: right;
    }
  }

  .third-login {
    width: 100%;

    .name {
      color: #999;
      display: flex;
      align-items: center;
      font-size: 16px;
      margin: 23px 0;

      &:before {
        content: "";
        height: 1px;
        background: #999;
        flex: 1;
        margin-right: 10px;
        opacity: .8;
      }

      &:after {
        content: "";
        height: 1px;
        flex: 1;
        background: #999;
        margin-left: 10px;
        opacity: .8;
      }
    }

    .icon-box {
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 5px;

      .icon {
        height: 28px;
        width: 28px;
        margin: 0 15px;
      }
    }
  }
}